<div class="row">
      <div class="four columns">
        <label for="step-one">Step 2</label>
        <img id="step-one" src="images/Step-2.png">
      </div>
    </div>

    <form>
      <div class="row">
        <div class="six columns">
          <label for="quoteFor"> Please provide us with the following details to receive your motor insurance quote:</label>
          <textarea cols="50"></textarea>
        </div>
      </div>
      <input class="button-primary" type="submit" value="Next" ng-click="goStep3()">
    </form>